.App {
  text-align: center;
}

.scroll-container {
  display: block;
  width: 800px;
height: 480px;
  overflow-y: scroll;
  scroll-behavior: smooth;
 background-color: #1e1f23;
}

.scroll-container::-webkit-scrollbar-thumb{

  background-color: white;


}

.scroll-container::-webkit-scrollbar{

  width: 7px;
  
  background-color: #151618;
  
  }


  .scroll-Compromisos {
    display: block;
   
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 555px;
    height: 170px;
  
    overflow-y: scroll;
    scroll-behavior: smooth;
   background-color: #1e1f23;

  
  }

  .scroll-Compromisos::-webkit-scrollbar-thumb{

    background-color: white;
  
  
  }
  .scroll-Compromisos::-webkit-scrollbar{

    width: 7px;
    
    background-color: #151618;
    
    }

.color{

background-color: #1e1f23;

}

.arriba{

display: flex;

top: -70px;
}

.abajo{

  display: flex;
  
  bottom: -70px;
  }



.color2{

background-color: #1e1f23;

}

.color3{
height:920px;
background-color: #151618;
;

}

.colorPanelMedio{

  background-color: #151618;
  ;

}


.color4{

  background-color: cornsilk;

}

.borderDivsPrincipales{

  border:  1px solid;
 border-color: #58e3c5;


}

.borderColorImage{

  border:  3px solid;
 border-color: #58e3c5;


}


.colorverde{

  color: chartreuse;
}

.colorTurquesa{

  color: #58e3c5;


}



.colorSalmon{

  color: #df4944;

}


.grafica{

  background-color: #1e1f23;
}
.botonComentar{
 
 
  position: relative;
  top: -15%;
  left: -90%;

  
}

.tamaCitas{

  overflow-y: scroll;

}

.tamaCitas::-webkit-scrollbar{

width: 7px;

background-color: #151618;

}

.tamaCitas::-webkit-scrollbar-thumb{

background-color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
