
@font-face {
  font-family: "Amaranth-Regular";
  src: url("./Letras/Amaranth-Regular.ttf");
}



p{

font-family:"Amaranth-Regular";

}
span{
  font-family:"Amaranth-Regular";

}

h1,h2,h3,h4,h5{

  font-family:"Amaranth-Regular";

}

.test2{
position: top;
width: 90px;
background-color: rgb(87, 55, 55);

}


.botonFuera{

background-color: #58e3c5;
position: fixed;

  width: 10px;
  height: 30px;
  
  top: 36px;
  margin-top: 13px;

  border-radius: 30px;

}
.botonDentro{

  background-color: #58e3c5;
  position: fixed;
  border-radius: 60px;
  
left: 193px;

}

.test{

width: 230px;
margin-left: -9px;
background-color: #1e1f23;
border-top:  1px solid;
border-right:  1px solid;
border-color: #58e3c5;
padding-left: 20px;
padding-top: 20px;
border-radius: 3px;


}


.letramenuresponsive{

  color: white;
  font-family:"Amaranth-Regular";
  font-size: 30px;
  
}


@media screen and (max-width: 375%) {

  .visible{
    display: flex;
    visibility: hidden ;

  }
  .scroll-Compromisos {
    display: block;
   
    width: 10%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 30px;
    height: 10px;
  
    overflow-y: scroll;
    scroll-behavior: smooth;
   background-color: #0c35da;

  
  }
  
 
}



@media screen and (max-width: 621px) {
  .espacioCaja{

    padding-left: 10px;
    padding-right:10px ;
    
    }

  .color3{
    height:970px;
    background-color: #171717;
    ;
    
    }



  .visible{
    display: none;
    visibility: hidden ;

  }

  .scroll-Compromisos {
    display: block;
   
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 305px;
    height: 130px;
  
    overflow-y: scroll;
    scroll-behavior: smooth;
   background-color: #1e1f23;

  
  }
  
 
}


@media screen and (min-width: 621px) {


  
.color3{
  height:920px;
  background-color: #151618;
  ;
  
  }

  .espacioCaja{

    padding-left: 23px;
    padding-right:23px ;
    
    }
    

  .visible{
    display: flex;
    visibility: hidden ;

  }

  .scroll-Compromisos {
    display: block;
   
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 555px;
    height: 170px;
  
    overflow-y: scroll;
    scroll-behavior: smooth;
   background-color: #1e1f23;

  
  }



}



.borderDivsPrincipales{

border:  1px solid;
border-color: #EDEDED;


}


.App {
  text-align: center;
}

.scroll-container {
  display: block;
  width: 800px;
height: 480px;
  overflow-y: scroll;
  scroll-behavior: smooth;
 background-color: #132C33;
}

.scroll-container::-webkit-scrollbar-thumb{

  background-color: #51C4D3;


}

.scroll-container::-webkit-scrollbar{

  width: 7px;
  
  background-color: #132C33;
  
  }

.sombra{
  background: linear-gradient(225deg, #D8E3E7, #D8E3E7);
  border-radius: 17px;
  box-shadow: inset -5px 5px 10px #D8E3E7,
  inset 5px -5px 10px #D8E3E7;


}

  .scroll-Compromisos::-webkit-scrollbar-thumb{

    background-color: #51C4D3;
  
  
  }
  .scroll-Compromisos::-webkit-scrollbar{

    width: 7px;
    
    background-color: #132C33;
    
    }

.color{

background-color: #126E82;

}

.arriba{

display: flex;

top: -70px;
}

.abajo{

  display: flex;
  
  bottom: -70px;
  }



.color2{

background-color: #132C33;

}



.colorPanelMedio{

  background-color: #151618;
  ;

}

.titulo{

  color:#126E82;

}
.color4{

  background-color: cornsilk;

}



.borderColorImage{

  border:  3px solid;
 border-color: #51C4D3;


}


.colorverde{

  color: chartreuse;
}

.colorTurquesa{

  color: #51C4D3;


}

.colorgris{

  color: #126E82;
}

.colorSalmon{

  color: #D8E3E7;

}


.grafica{

  background-color: #D8E3E7;
}
.botonComentar{
 
 
  position: relative;
  top: -15%;
  left: -90%;

  
}

.tamaCitas{

  overflow-y: scroll;

}

.tamaCitas::-webkit-scrollbar{

width: 7px;

background-color: #151618;

}

.tamaCitas::-webkit-scrollbar-thumb{

background-color: white;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
